{% extends 'admin_layout.html' %}
{% block content %}
    <h1>Admin Home</h1>
<div style="display: flex;align-items: center;justify-content: center;height: 80vh;flex-direction: column;overflow: hidden;">
<div><a href = "./admin_register" ><button type="button" class="btn btn-outline-success btn-lg btn-block" >Admin Register</button></a></div><br>
<div><a href = "./admin_login" ><button type="button" class="btn btn-outline-success btn-lg btn-block">Admin Login</button></a></div>
</div>
{% endblock content %}