{% extends 'layout.html' %}
{% block content %}
<div style="display: flex;align-items: center;justify-content: center;height: 80vh;flex-direction: column;overflow: hidden;">
<div><a href = "./influencer_register" ><button type="button" class="btn btn-outline-success btn-lg btn-block" >Influencer Sign Up</button></a></div><br>
<div><a href = "./sponsor_register" ><button type="button" class="btn btn-outline-success btn-lg btn-block">Sponsor Sign Up</button></a></div>
</div>
{% endblock content %}